html {
  font-size: 62.5%;
}

body {
  font-size  : 1.5rem;
  font-weight: 400;
  font-family: $f-zen;
  color      : #333;
}

p {
  line-height: 1.73;
}

img {
  width         : 100%;
  vertical-align: middle;
}

.contents {
  padding-bottom: 140px;
}

.navAdjust {
  padding-top: 100px !important;
  margin-top: -100px !important;
}

.sp {
  display: none;
}

@include mq(md) {
  body {
    font-size: 1.4rem;
  }
  .sp {
    display: inline-block;
  }

  .pc {
    display: none;
  }
}
