.c-lead {
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.05em;
  line-height: 1.71;
  margin-bottom: 80px;
}

.c-lead02 {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  max-width: 760px;
  margin: 0 auto 100px;
}

.c-lead03 {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  line-height: 1.78;
  margin-bottom: 50px;
}

@include mq(md) {
  // 共通
  .c-lead,
  .c-lead02 {
    width: calc(100% - 40px);
    margin: 0 auto 40px;
  }
  .c-lead {
    font-size: 2.1rem;
    line-height: 1.62;
  }

  .c-lead02 {
    font-size: 1.4rem;
  }
}