.c-listItem {
  display  : flex;
  flex-wrap: wrap;

  .c-listItem__name {
    font-family: $f-lat;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    font-weight: 300;
    color: #070607;
    margin-bottom: 5px;
  }

  // カラム設定
  &.-row1 {
    .c-listItem__item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &.-row2 {
    justify-content: space-between;

    .c-listItem__item {
      width: calc((100% - 50px) / 2);

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }

  &.-row3 {
    .c-listItem__item {
      width: calc((100% - 60px) / 3);
      margin-right: 30px;

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  &.-row4 {
    .c-listItem__item {
      width       : calc((100% - 114px) / 4);
      margin-right: 38px;

      &:nth-of-type(4n) {
        margin-right: 0;
      }

    }
  }

  &.-row6 {
    .c-listItem__item {
      width       : calc((100% - 25px) / 6);
      margin-right: 5px;

      &:nth-of-type(6n) {
        margin-right: 0;
      }
    }
  }

  @include mq(md) {

    // カラム設定
    &.-row2,
    &.-row3,
    &.-row4 {
      justify-content: space-between;

      .c-listItem__item {
        width       : calc((100% - 30px) / 2);
        margin-right: 0;
      }
    }
  }
}