.c-page-mv {
  position: relative;
  width: calc(100% - 100px);
  min-height: 251px;
  margin: 0 0 100px auto;
  background: center / cover no-repeat;
  &__ttl {
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translateY(-50%);
    color: #fff;
    font-size: clamp(3.8rem, 3.75vw, 4.8rem);
    font-family: $f-lat;
    font-weight: 400;
    letter-spacing: 0.08em;
    span {
      display: block;
      font-size: 0.3333em;
      font-family: $f-zen;
      margin-top: 0.125em;
    }
  }

  &--bkNone {
    margin-bottom: 70px;
    background: none;
    min-height: auto;
    width: 100%;
    padding-top: 70px;
    .c-page-mv__ttl {
      transform: none;
      color: #074E1F;
      position: static;
      span {
        color: #333333;
      }
    }
  }

  @include mq(md) {
    width: 100%;
    min-height: 160px;
    margin-bottom: 60px;
    &__ttl {
      position: absolute;
      left: 20px;
      font-size: clamp(3.6rem, 9.6vw, 4.8rem);
      width: calc(100% - 40px);
      span {
        font-size: 0.4444em;
        margin-top: 4px;
      }
    }

    &--bkNone {
      margin-bottom: 60px;
      padding-top: 40px;
      min-height: auto;
      .c-page-mv__ttl {
        width: 100%;
        min-height: auto;
        span {
          margin-top: 8px;
        }
      }
    }
  }
}