#about {
  .c-page-mv {
    background-image: url(../images/about/mv_pc.jpg);
    margin-bottom: 140px;

    @include mq(md) {
      background-image: url(../images/about/mv_sp.jpg);
      margin-bottom: 60px;
    }
  }

  .president {
    .president-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__left {
        width: 380px;
      }
      &__right {
        width: calc(100% - 430px);
        .txt {
          margin-bottom: 30px;
        }
        .company-name,
        .president-name {
          text-align: right;
          letter-spacing: 0.05em;
        }
        .company-name {
          margin-bottom: 10px;
          font-size: 2.2rem;
        }
        .president-name {
          font-size: 3rem;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          span {
            padding-right: 15px;
            font-size: 1.6rem;
          }
        }
      }
    }

    @include mq(md) {
      .president-box {
        &__left {
          width: 100%;
          margin-bottom: 40px;
        }
        &__right {
          width: 100%;
          .company-name {
            font-size: 1.8rem;
          }
          .president-name {
            font-size: 2.6rem;
            span {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .qol {
    .qol-box {
      background: url(../images/about/bk_qol_pc.jpg) center / cover no-repeat;
      min-height: 439px;
      box-sizing: border-box;
      padding: 120px 50px;
      text-align: center;
      color: #fff;
      letter-spacing: .05em;
      h2 {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 40px;
        line-height: 1.42;
      }
      p {
        font-size: 1.8rem;
        line-height: 1.78;
      }
    }

    @include mq(md) {
      .qol-box {
        background-image: url(../images/about/bk_qol_sp.jpg);
        min-height: auto;
        padding: 45px 20px;
        h2 {
          font-size: 2.2rem;
          margin-bottom: 30px;
          line-height: 1.55;
        }
        p {
          font-size: 1.6rem;
          line-height: 1.75;
        }
      }
    }
  }

  // 共通
  .with-ttl-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__left {
      width: 280px;
    }
    &__right {
      width: calc(100% - 280px);
    }

    @include mq(md) {
      &__left,
      &__right {
        width: 100%;
      }
    }
  }

  .company {
    .with-ttl-box {
      margin-bottom: 80px;
    }
    .g-map {
      height: 410px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    @include mq(md) {
      .with-ttl-box {
        margin-bottom: 40px;
      }
      .g-map {
        height: 500px;
      }
    }
  }

  .history {
    .c-lines {
      dt {
        color: #333;
      }
    }
  }
}