#construction {
  padding-bottom: 140px;
  .c-page-mv {
    background-image: url(../images/construction/mv_pc.jpg);
    margin-bottom: 100px;
  }

  .c-listItem {
    li {
      margin-bottom: 86px;
    }
  }
}