#item {
  padding-bottom: 140px;
  .c-page-mv {
    background-image: url(../images/item/mv_pc.jpg);
    margin-bottom: 100px;
  }

  .c-lead03 {
    margin-bottom: 80px;
  }

  @include mq(md) {
    padding-bottom: 120px;
    .c-page-mv {
      background-image: url(../images/item/mv_sp.jpg);
      margin-bottom: 40px;
    }

    .c-lead03 {
      margin-bottom: 60px;
    }
  }

  .c-listItem {
    .c-post {
      margin-bottom: 80px;
      &__ttl {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #DCDCDC;
      }
    }

    @include mq(md) {
      margin-bottom: 42px;
      .c-post {
        margin-bottom: 38px;
      }
    }
  }

  .item-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin-top: 20px;
      width: calc(50% - 10px);
      a {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__mail {
      a {
        background: #074E1F;
      }
      img {
        height: 18px;
      }
    }

    &__tel {
      a {
        background: #484646;
      }
      img {
        height: 25px;
      }
    }

    @include mq(md) {
      li {
        width: 50%;
        a {
          min-height: 36px;
        }
      }

      &__mail {
        img {
          height: 13px;
        }
      }

      &__tel {
        img {
          height: 18px;
        }
      }
    }
  }
}