#item {
  padding-bottom: 140px;
  .c-page-mv {
    background-image: url(../images/item/mv_pc.jpg);
    margin-bottom: 100px;
  }

  .c-lead03 {
    margin-bottom: 80px;
  }

  .c-listItem {
    .c-post {
      &__ttl {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 1px solid #DCDCDC;
      }
    }
  }

  .item-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      margin: 20px 0 80px 0;
      width: calc(50% - 10px);
      a {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #484646;
        &:hover {
          opacity: 1;
          background: #074E1F;
        }
      }
    }

    &__mail {
      img {
        height: 18px;
      }
    }

    &__tel {
      img {
        height: 25px;
      }
    }
  }
}