#news {
  .c-page-mv {
    background-image: url(../images/news/mv_pc.jpg);
  }

  .l-container {
    max-width: 694px;
  }

  .c-news-list {
    margin-bottom: 80px;
  }

  @include mq(md) {
    .c-page-mv {
      background-image: url(../images/news/mv_sp.jpg);
    }
    .c-news-list {
      margin-bottom: 40px;
    }
  }
}