#privacy-policy {
  background : #AED0BA;
  padding-top: 100px;

  .l-container {
    max-width: 890px;
  }

  .privacy-policy-contents {
    background   : #fff;
    border-radius: 10px;
    box-shadow   : 0px 2px 7px 0px rgba($color: #333333, $alpha: .1);
    padding      : 80px 60px;
    box-sizing   : border-box;

    .l-sec-ttl {
      margin-bottom: 50px;
    }

    p {
      line-height: 1.73;
    }

    .privacy-policy-list {
      margin-top: 35px;

      dl {
        &+dl {
          margin-top: 30px;
        }

        dt {
          font-size     : 1.8rem;
          letter-spacing: 0.05em;
          line-height   : 1.78;
          margin-bottom : 10px;
        }

        dd {
          line-height   : 1.73;
          letter-spacing: 0.035em;

          ol {
            list-style-type: decimal;
            padding-left   : 2em;
          }

          .contactus {
            padding-left: 3em;
            margin-top  : 1em;

            .to-form {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}