#recuruit {
  .c-page-mv {
    background-image: url(../images/recuruit/mv_pc.jpg);

    @include mq(md) {
      background-image: url(../images/recuruit/mv_sp.jpg);
    }
  }

  .recuruit-intro {
    padding-bottom: 140px;
    position: relative;
    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 49%;
      height: 400px;
      z-index: -1;
      background: url(../images/recuruit/image_pc.jpg) top right / 48.9vw no-repeat;
    }

    &__ttl,
    &__txt {
      line-height: 32px;
      max-width: 611px;
    }

    &__ttl {
      padding-top: 197px;
      font-size: 2.6rem;
      letter-spacing: 0.05em;
      margin-bottom: 40px;
    }

    &__txt {
      font-size: 1.8rem;
    }

    @include mq(md) {
      padding-bottom: 277px;
      margin-bottom: 120px;
      &::before {
        width: 100%;
        top: auto;
        bottom: 0;
        background-size: cover;
        background-image: url(../images/recuruit/image_sp.jpg);
      }

      &__ttl {
        padding-top: 0;
        font-size: 2.1rem;
        line-height: 34px;
        text-align: center;
      }

      &__txt {
        font-size: 1.4rem;
        line-height: 1.57;
      }
    }
  }

  .recuruit-desc {
    .l-container {
      max-width: 704px;
    }

    .l-sec {
      .l-sec-ttl {
        margin-bottom: 70px;
      }
    }

    .c-lines {
      margin-bottom: 60px;
      dl {
        font-size: 1.8rem;
        dt {
          color: #074E1F;
          width: calc(100% - 527px);
        }

        dd {
          max-width: 527px;
          .msg {
            font-size: 1.5rem;
            line-height: 1.73;
            display: block;
            margin-top: 15px;
          }
        }
      }
    }

    .c-btn {
      text-align: center;
    }

    @include mq(md) {
      .l-sec {
        .l-sec-ttl {
          margin-bottom: 50px;
        }
      }

      .c-lines {
        dl {
          padding-right: 20px;

          dt,
          dd {
            width: 100%;
          }

          dd {
            font-size: 1.6rem;
            .msg {
              line-height: 1.57;
              font-size: 1.4rem;
            }
          }
        }
      }

      .c-btn {
        a {
          display: block;
          min-height: 50px;
          line-height: 50px;
        }
      }
    }
  }
}