#single-construction {
  padding-top: 80px;

  // 共通スライダー
  .construction-slider,
  .construction-slider-thumb {
    &__image {
      position: relative;
      overflow: hidden;

      &::before {
        content: "";
        display: block;
      }

      img {
        width     : 100%;
        height    : 100%;
        position  : absolute;
        top       : 0;
        left      : 0;
        right     : 0;
        bottom    : 0;
        object-fit: cover;
        cursor    : pointer;
      }
    }
  }

  // スライダー
  .construction-slider {
    margin-bottom: 20px;

    &__image {
      &::before {
        padding-top: 49%;
      }
    }
  }

  // スライダーサムネイル
  .construction-slider-thumb {
    .slick-slide {
      margin-right: 17px;

      &:nth-child(6n) {
        margin-right: 0;
      }
    }

    .slick-track {
      margin-left: 0;
    }

    &__image {
      &::before {
        padding-top: 61%;
      }
    }
  }

  .construction-content {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;

    &__left {
      width: 435px;

      h1 {
        font-size     : 2.8rem;
        font-weight   : 400;
        letter-spacing: 0.05em;
        line-height   : 1.43;
        margin-bottom : 20px;
      }
    }

    &__right {
      width: calc(100% - 435px);
    }

    &__line {
      border-top: 1px solid #DCDCDC;
      padding   : 20px;
      display   : flex;
      flex-wrap : wrap;

      &:last-child {
        border-bottom: 1px solid #DCDCDC;
      }

      dt,
      dd {
        font-size  : 1.8rem;
        font-weight: 400;
      }

      dt {
        width: 105px;
        letter-spacing: 0.035em;
      }

      dd {
        width: calc(100% - 105px);
        color: #070607;
        letter-spacing: 0.05em;
      }
    }
  }

  .c-before-after {
    margin-top: 110px;
  }
}