#top {
  .l-sec {
    padding-bottom: 160px;
  }

  .mv {
    overflow: hidden;
    position: relative;
    width: calc(100% - 100px);
    height: calc(100vh - 100px);
    margin-left: auto;
    .mv-txt {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-align: center;
      z-index: 998;
      h2 {
        font-size: min(4.8rem, 3.75vw);
        font-family: $f-lat;
        font-weight: 300;
        line-height: 1.35;
        margin-bottom: 1.9vw;
      }
      p {
        font-size: min(2rem, 1.56vw);
        font-weight: 500;
        line-height: 1.45;
      }
    }
    .mv-bk-wrap {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
      .mv-bk {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        overflow: hidden;
        .core-wrap {
          width: 0;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          overflow: hidden;
          transform: scale(1.1);
        }
        .core {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 0;
          background-size: cover;
          background-position: 50% 50%;
        }
      }

    }

    .mv-paging {
      width: calc(100% - 50px);
      position: absolute;
      left: 50px;
      bottom: 30px;
      color: #fff;
      display: flex;
      align-items: center;
      .page {
        p {
          font-size: 1.4rem;
          font-weight: 400;
          font-family: $f-lat;
        }
      }
      .line-wrap {
        display: inline-block;
        margin: 0 10px;
        width: 3.4%;
        height: 1px;
        background: rgba(255, 255, 255, 0.5);
        .line {
          width: 0;
          height: 1px;
          background: #fff;
        }
      }
    }
  }

  .about {
    padding-top: 160px;
    .about-box {
      display: flex;
      flex-wrap: wrap;
      &__left {
        width: 100%;
        max-width: 685px;
        margin-left: calc(50vw - 540px);
        margin-top: 151px;
      }
      &__right {
        width: 345px;
        position: relative;
        color: #fff;
        padding: 70px calc(50vw - 540px) 70px 50px;
        margin-bottom: 105px;
        &::before {
          content: "";
          width: calc(100% + 120px);
          height: 100%;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          left: -120px;
          background: #074e1f;
          z-index: -1;
        }
        .l-sec-ttl {
          color: #fff;
          margin-bottom: 50px;
          span {
            color: #fff;
          }
        }
        p {
          margin-bottom: 50px;
          line-height: 1.93;
        }
      }
    }
  }

  .business {
    .l-sec-ttl {
      margin-bottom: 65px;
    }
    .business-list {
      margin-bottom: 60px;
      li {
        width: 50%;
        margin: 0;
        a {
          position: relative;
          color: #fff;
          text-align: center;
          display: block;
        }
        h3 {
          width: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          font-size: 3.2rem;
          font-weight: 400;
          letter-spacing: 0.08em;
          font-family: $f-lat;
          span {
            font-size: 0.5em;
            display: block;
            margin-top: 10px;
            font-weight: 500;
            font-family: $f-zen;
          }
        }
      }
    }

    .other-list {
      margin-bottom: 63px;
      .img-box {
        margin-bottom: 20px;
      }
    }
  }

  .construction {
    .construction-list {
      margin-bottom: 64px;
      .c-construction-card {
        margin: 0 20px;
        &:nth-child(odd) {
          margin-top: 85px;
        }
      }
    }
  }

  .news {
    .news-box {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      &__left {
        width: 150px;
        box-sizing: border-box;
        border-right: 1px solid #707070;
      }
      &__right {
        width: calc(100% - 200px);
      }
    }
    .c-btn-view-more {
      text-align: right;
    }
  }
}