.l-sec {
  display: block;
  padding-bottom: 140px;
  &:last-child {
    padding-bottom: 0;
  }
  .l-sec-ttl {
    font-size: 3.2rem;
    color: #074E1F;
    letter-spacing: 0.08em;
    font-weight: 400;
    font-family: $f-lat;
    margin-bottom: 70px;
    span {
      font-size: 0.5em;
      display: block;
      margin-top: 8px;
      color: #333333;
      font-family: $f-zen;
    }
  }

  @include mq(md) {
    padding-bottom: 120px;
    .l-sec-ttl {
      font-size: 2.8rem;
      margin-bottom: 40px;
      span {
        font-size: 1.5rem;
        margin-top: 6px;
      }
    }
  }
}