.p-contact {

  &-batch {
    background   : #074E1F;
    color        : #fff;
    font-family  : $f-zenMin;
    margin-bottom: 70px;
    padding      : 20px 100px;
    display      : inline-block;

    &__tel {
      display: flex;
      align-items: flex-end;
      font-weight  : bold;
      font-size    : 3.2rem;
      margin-bottom: 10px;
      line-height  : normal;
      line-height: 1;

      span {
        font-size: 2.1rem;
      }

      a {
        color: inherit;
      }
    }

    &__txt {
      font-size  : 1.6rem;
      font-weight: 400;
    }

    @include mq(md) {
      margin-bottom: 60px;
      padding      : 20px 35px;
    }
  }

  &-form {
    background   : #fff;
    border-radius: 10px;
    box-shadow   : 0px 2px 7px 0px rgba($color: #333333, $alpha: .1);
    padding      : 50px 60px;

    &__line {
      display  : flex;
      flex-wrap: wrap;
      font-size: 1.6rem;

      &+dl {
        margin-top: 20px;
      }

      .requied {
        padding-left: 1em;
        color  : #EB1A00;
      }

      &>dt {
        width: calc(100% - 538px);
      }

      &>dd {
        width    : 100%;
        max-width: 538px;

        input[type="text"],
        input[type="number"],
        input[type="tel"],
        input[type="email"],
        input[type="date"],
        textarea {
          background   : #F5F5F5;
          border       : none;
          padding      : 10px;
          border-radius: 3px;
          box-sizing   : border-box;
          width        : 100%;
        }

        input[type="text"],
        input[type="text"],
        input[type="number"],
        input[type="tel"] {
          max-width: 300px;
        }

        input[type="date"] {
          max-width: 150px;
        }

        label {
          cursor: pointer;
        }

        textarea {
          width     : 100%;
          min-height: 240px;
        }

        .msg {
          color    : #EB1A00;
          font-size: 1.4rem;
        }

        .pla-poli {
          margin-top: 32px;

          a {
            text-decoration: underline;
            color          : #178BB9;
          }
        }

        .consent {
          margin-top: 28px;
        }

        // contact form 7
        .wpcf7-radio {
          .wpcf7-list-item {
            display: block;
            & + .wpcf7-list-item {
              margin-top: 5px;
            }
          }

          input[type="radio"] {
            display: none;
            &:checked + .wpcf7-list-item-label {
              &::before {
                display: inline-block;
              }
            }
          }
          .wpcf7-list-item-label {
            position: relative;
            padding-left: 30px;

            &::before,
            &::after {
              content: "";
              position: absolute;
              border-radius: 50%;
              display: inline-block;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }

            &::before {
              width: 15px;
              height: 15px;
              background: #074E1F;
              left: 3.5px;
              transition:all 0.1s;
              display: none;
              z-index: 1;
            }

            &::after {
              width: 20px;
              height: 20px;
              border: 1px solid #B4B4B4;
              border-radius: 50%;
              background: #fff;
            }
          }
        }

        .wpcf7-list-item {
          margin-left: 0;
        }
      }

      &--address,
      &--mail {
        &>dd {

          input[type=text],
          input[type=email] {
            max-width: 400px;
          }
        }
      }

      &--address {
        .msg {
          display: block;
        }
      }

      &--deli {
        .msg {
          padding-left: 1em;
        }
      }
    }

    @include mq(md) {
      padding      : 30px;

      &__line {
        font-size: 1.5rem;

        &>dt,
        &>dd {
          width: 100%;
          max-width: 100%;
        }

        &>dd {

          .msg {
            font-size: 1.3rem;
            line-height: 1.46;
          }

          .consent {
            margin-top: 34px;
            font-size: 1.3rem;
          }
        }

        &--address {
          .msg {
            margin-top: 8px;
          }
        }

        &--deli {
          .msg {
            padding-left: 30px;
            display: block;
          }
        }
      }
    }
  }

  .c-btn {
    margin: 35px auto 0;
    max-width : 324px;
    &::after {
      top: 24px;
    }
    .wpcf7-submit {
      cursor: pointer;
      min-height: 50px;
      line-height: 50px;
    }
    .wpcf7-submit:disabled {
      cursor: not-allowed;
    }
  }
}